* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: "Fraunces", serif;
  font-family: "Outfit", sans-serif;
}
.section {
  background-color: white;
  width: rem;
  width: 17%;
  border-radius: 1.2rem;
  padding: 0.8rem;
  text-align: center;
}
img {
  border-radius: 1rem;
  width: 100%;
}
h1 {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.4rem;
}
p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 0.9rem;
  padding-bottom: 1.3rem;
}
