* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  background: rgb(255, 255, 255);
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 23.438rem;
}
.color {
  color: rgb(200, 199, 255);
}
.block {
  display: block;
}
h3 {
  font-size: 0.938rem;
}
.first-section {
  text-align: center;
  background: linear-gradient(rgba(120, 87, 255, 0.99), rgba(46, 43, 233, 0.9));
  border-radius: 0 0 30px 30px;
  padding: 1rem 4rem 2rem 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
}
.inline {
  display: flex;
}
.circle {
  background: linear-gradient(rgb(78, 33, 202), rgba(36, 33, 202, 0));
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin: 1rem 0.5rem 0 0;
  height: 100px;
  width: 100px;
}
.circle > p {
  margin: 0.2rem;
}
.g-para {
  margin: 0.5rem;
}
.large {
  font-size: 1.3rem;
  font-weight: 700;
}
.larger {
  font-size: 2.5rem;
  font-weight: 800;
}
.small {
  font-weight: 500;
  font-size: 1.1rem;
}
.second-section {
  margin: 0 2rem;
}
h2 {
  margin-bottom: 1rem;
  color: rgb(48, 59, 90);
}
.areas {
  border-radius: 8px;
  padding: 0.8rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.areas > div > img {
  margin: 0 0.5rem;
}
.light-red {
  background: hsla(0, 100%, 67%, 5%);
}

.orangey-yellow {
  background: hsla(39, 100%, 56%, 5%);
}

.green-teal {
  background-color: hsla(166, 100%, 37%, 5%);
}

.cobalt-blue {
  background: hsla(234, 85%, 45%, 5%);
}
.light-red-p {
  color: hsl(0, 100%, 67%);
}

.orangey-yellow-p {
  color: hsl(39, 100%, 56%);
}

.green-teal-p {
  color: hsla(166, 100%, 37%);
}

.cobalt-blue-p {
  color: hsl(234, 85%, 45%);
}

.numb-p1 {
  color: hsl(224, 30%, 27%);
}

.numb-p2 {
  color: hsl(241, 100%, 89%);
  margin-left: 0.2rem;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(224, 30%, 27%);
  padding: 0.8rem;
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
}
.button:hover {
  background: linear-gradient(rgba(120, 87, 255, 0.99), rgba(46, 43, 233, 0.9));
}

body {
  min-height: 100vh;
}
.first-section {
  border-radius: 30px 30px;
}

main {
  max-width: 44rem;
  flex-direction: row;
  gap: 0.5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 30px 30px;
}
.circle {
  height: 150px;
  width: 150px;
}
.first-section {
  flex: 1 1 60%;
}
.second-section {
  flex: 1 1 40%;
}
h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.t-para {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}
.g-para {
  margin-top: 2rem;
}
.second-section {
  margin-top: 1.5rem;
}
.button {
  margin-top: 2rem;
}
h3 {
  margin-top: 0.1rem;
}
